@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
/* global css */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: "Montserrat", sans-serif;
   background-color: black;
}
.container {
   width: 90%;
   margin: 0 auto;
}
ul li {
   list-style: none;
}
a {
   text-decoration: none;
}
/* nav section */

nav {
   height: 120px;
   background-color: white;
}
.navbar {
   display: flex;
   justify-content: space-between;
}
.navbar .navbar-logo {
   height: 120px;
}
.navbar-links {
   display: flex;
   align-items: center;
   height: 120px;
}
.navbar-links .active {
   color: #e9252b;
   display: flex;
}
.active div {
   margin-right: 3px;
}
.navbar-links .arrow-icon {
   margin-top: 5px;
}
.navbar-links li {
   margin-right: 1.5rem;
}
.navbar-links li:nth-last-child(1) {
   margin-right: 0;
}
.navbar-links li a {
   font-family: "Montserrat", sans-serif;
   font-weight: 500;
   color: #696968;
}
.navbar-links li a.navbar-btn {
   padding: 0.5rem 1rem;
   border-radius: 4px;
   font-size: 1rem;
}
.navbar-links li a.signIn {
   border: 1px solid #ef3f24;
   border-radius: 4px;
   color: #696968;
   margin-right: 10px;
}
.navbar-links li a.signUp {
   background: #ef3f24;
   border: 1px solid #ef3f24;
   color: #ffffff;
}
/* dropdown  */
.dropdown-content {
   display: none;
   z-index: 1;
   position: absolute;
   background-color: white;
   color: #ef3f24;
}
.dropdown-content a {
   padding: 12px 20px;
}
.dropdown-content a:hover {
   background: #ef3f24;
   color: white;
   padding: 12px 20px;
}
.show {
   display: flex;
   flex-direction: column;
}
/* menu */
.toggle-button {
   position: absolute;
   top: 2.9rem;
   right: 2rem;
   display: none;
   flex-direction: column;
   justify-content: space-between;
   width: 30px;
   height: 21px;
}
.toggle-button .bar {
   height: 3px;
   width: 100%;
   background-color: #ef3f24;
   border-radius: 10px;
}
/* media query */
@media (max-width: 900px) {
   .height-400 {
      height: 400px;
   }
   .navbar {
      flex-direction: column;
      align-items: flex-start;
   }
   .toggle-button {
      display: flex;
   }

   .navbar-links {
      display: none;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
   }

   .navbar .navbar-links li {
      display: flex;
      padding: 0.5rem;
      width: 100%;
      text-align: center;
      justify-content: center;
   }
   .navbar-links.active {
      display: flex;
   }
}
