@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;500;700&display=swap");
/* global css */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: "Montserrat", sans-serif;
   background-color: black;
}
.container {
   width: 90%;
   margin: 0 auto;
}
ul li {
   list-style: none;
}
a {
   text-decoration: none;
}
/* nav section */

nav {
   height: 120px;
   background-color: white;
}
.navbar {
   display: flex;
   justify-content: space-between;
}
.navbar .navbar-logo {
   height: 120px;
}
.navbar-links {
   display: flex;
   align-items: center;
   height: 120px;
}
.navbar-links .active {
   color: #e9252b;
   display: flex;
}
.active div {
   margin-right: 3px;
}
.navbar-links .arrow-icon {
   margin-top: 5px;
}
.navbar-links li {
   margin-right: 1.5rem;
}
.navbar-links li:nth-last-child(1) {
   margin-right: 0;
}
.navbar-links li a {
   font-family: "Montserrat", sans-serif;
   font-weight: 500;
   color: #696968;
}
.navbar-links li a.navbar-btn {
   padding: 0.5rem 1rem;
   border-radius: 4px;
   font-size: 1rem;
}
.navbar-links li a.signIn {
   border: 1px solid #ef3f24;
   border-radius: 4px;
   color: #696968;
   margin-right: 10px;
}
.navbar-links li a.signUp {
   background: #ef3f24;
   border: 1px solid #ef3f24;
   color: #ffffff;
}
/* dropdown  */
.dropdown-content {
   display: none;
   z-index: 1;
   position: absolute;
   background-color: white;
   color: #ef3f24;
}
.dropdown-content a {
   padding: 12px 20px;
}
.dropdown-content a:hover {
   background: #ef3f24;
   color: white;
   padding: 12px 20px;
}
.show {
   display: flex;
   flex-direction: column;
}
/* menu */
.toggle-button {
   position: absolute;
   top: 2.9rem;
   right: 2rem;
   display: none;
   flex-direction: column;
   justify-content: space-between;
   width: 30px;
   height: 21px;
}
.toggle-button .bar {
   height: 3px;
   width: 100%;
   background-color: #ef3f24;
   border-radius: 10px;
}
/* hero section */

.hero {
   position: relative;
   min-height: calc(100vh - 122px);
   background: linear-gradient(
         to right,
         rgba(0, 41, 89, 0.7),
         rgba(0, 41, 89, 0.7)
      ),
      url(./img/background.png);
   display: flex;
   align-items: center;
   background-position: center;
   background-repeat: no-repeat;
   /* background-size: ; */
}
.hero .hero-content {
   display: flex;
   align-items: flex-start;
   flex-direction: column;
}

.hero .hero-content h1 {
   font-family: Roboto;
   font-style: normal;
   font-weight: bold;
   font-size: 30px;
   line-height: 35px;
   text-transform: uppercase;
   color: #ffffff;
   padding: 20px 0px;
}

.hero .hero-content p {
   font-family: Montserrat;
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 20px;
   text-align: center;
   letter-spacing: 0.05em;
   color: #ffffff;
   margin-bottom: 80px;
}
.hero .hero-search {
   display: flex;
   align-items: center;
}
.hero .hero-search select {
   border: none;
   padding: 25px 50px;
   font-size: 12px;
   color: #ff555a;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
   background: url(./icon/selectDown.svg) no-repeat right #ffffff;
   -webkit-appearance: none;
   background-position-x: 165px;
   background-repeat: no-repeat;
}

.hero .hero-search select::-webkit-scrollbar {
   width: 8px;
}

.hero .hero-search select::-webkit-scrollbar-track {
   background-color: white;
}

.hero .hero-search select::-webkit-scrollbar-thumb {
   background-color: #ef3f24;
   border-radius: 8px;
   border-right: 3px solid white;
}

.hero .hero-search .hero-input {
   display: flex;
   background-color: white;
   border-top-right-radius: 15px;
   border-bottom-right-radius: 15px;
   border-left: 1px solid #ededed;
}
.hero .hero-search .hero-input img {
   padding: 0px 10px;
}
.hero .hero-search .hero-input input {
   padding: 20px 50px;
   border: none;
   font-size: 12px;
}
.hero .hero-search .hero-input input::placeholder {
   color: #ff555a;
}
.hero .hero-search .hero-input button {
   border: none;
   padding: 20px 50px;
   font-family: Montserrat;
   font-weight: bold;
   font-size: 20px;
   color: #ffffff;
   background: #ff555a;
   border-radius: 10px;
}
/* count section */

.count-section {
   position: absolute;
   left: 50%;
   right: 50%;
   transform: translate(-50%, -50%);
   width: 70%;
   margin: 0 auto;
   background: #ffffff;
   box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
   border-radius: 10px;
}
.count-section .items {
   display: flex;
   padding: 20px;
}
.count-section .items .item {
   display: flex;
   justify-content: space-between;
}
.count-section .items .item .icon-container .circle {
   background: #f1f1f1;
   box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
   width: 76px;
   height: 75.74px;
   border-radius: 50%;
   position: relative;
}
.count-section .items .item .icon-container .icon {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
}
.item .content {
   align-items: flex-start;
   margin-left: 15px;
}
.item-number {
   font-weight: 500;
   line-height: 20px;
   text-transform: uppercase;
   color: #ef3f24;
}
.item-heading {
   font-family: "Roboto", sans-serif;
   font-weight: 500;
   font-size: 13px;
   text-transform: uppercase;
   color: #ff555a;
}
.item-body {
   font-family: "Montserrat", sans-serif;
   font-size: 11px;
   line-height: 13px;
   color: #000000;
}
/* our course section */
.course-section {
   background: #ffffff;
   height: 90vh;
}
/* media query */
@media (max-width: 900px) {
   .height-400 {
      height: 400px;
   }
   .navbar {
      flex-direction: column;
      align-items: flex-start;
   }
   .toggle-button {
      display: flex;
   }

   .navbar-links {
      display: none;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
   }

   .navbar .navbar-links li {
      display: flex;
      padding: 0.5rem;
      width: 100%;
      text-align: center;
      justify-content: center;
   }
   .navbar-links.active {
      display: flex;
   }
   /* hero  */

   .hero-search {
      flex-direction: column;
      width: 100%;
   }
   .hero .hero-search select {
      border-radius: 15px;
      padding: 25px 150px;
      margin-bottom: 8px;
      background-position-x: 340px;
   }
   .hero .hero-search .hero-input {
      display: flex;
      background-color: white;
      border-radius: 15px;
      border-radius: 15px;
      border-left: 1px solid #ededed;
   }
   .hero .hero-search .hero-input input {
      padding: 20px 30px;
   }
   .hero .hero-search .hero-input button {
      border: none;
      padding: 20px 30px;
   }
}
