@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;500;700&display=swap");

nav {
   padding: 0;
   /* height: 120px; */
   background: #ffffff;
   font-family: "Montserrat", sans-serif;
}
.navbar {
   padding-top: 0 !important;
   padding-bottom: 0 !important;
   min-height: 120px !important;
}
nav .navbar-logo {
   height: 120px;
}
.navbar-collapse {
   flex-grow: 0;
}
body {
   background-color: white;
   color: black;
}
a {
   color: inherit;
}

.nav-active {
   color: #ef3f24 !important;
   font-weight: 500;
}
.btn-signin {
   color: #696968;
   border: 1px solid #ef3f24;
}
.btn-signin:hover {
   background: #ef3f24;
   border: 1px solid #ef3f24;
   color: #ffffff !important;
}

.btn-signup {
   background: #ef3f24;
   border: 1px solid #ef3f24;
   color: #ffffff;
}
.btn-signup:hover {
   color: #ffff;
}

/* jumbotron */

.bg-img {
   min-height: calc(100vh - 181px);
   background: linear-gradient(
         to right,
         rgba(0, 41, 89, 0.7),
         rgba(0, 41, 89, 0.7)
      ),
      url(../img/background.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.jumbotron-h1 {
   font-family: "Roboto", sans-serif;
   font-weight: bold;
   font-size: 30px;
   line-height: 35px;
   text-transform: uppercase;
   color: #ffffff;
   padding: 20px 0px;
}
.jumbotron-p {
   font-family: "Montserrat", sans-serif;
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 20px;
   letter-spacing: 0.05em;
   color: #ffffff;
   margin-bottom: 80px;
}
.jumbotron-search select {
   border: none;
   padding: 25px 50px;
   font-size: 13px;
   color: #ff555a;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
   background: url(../icon/selectDown.svg) no-repeat right #ffffff;
   -webkit-appearance: none;
   background-position-x: 165px;
   background-repeat: no-repeat;
}
.jumbotron-search select::-webkit-scrollbar {
   width: 8px;
}

.jumbotron-search select::-webkit-scrollbar-track {
   background-color: white;
}

.jumbotron-search select::-webkit-scrollbar-thumb {
   background-color: #ef3f24;
   border-radius: 8px;
   border-right: 3px solid white;
}
.jumbotron-input {
   background-color: white;
   border-top-right-radius: 15px;
   border-bottom-right-radius: 15px;
   border-left: 1px solid #ededed;
}
.jumbotron-input img {
   padding: 0px 10px;
}
.jumbotron-input input {
   padding: 20px 50px;
   border: none;
   font-size: 13px;
}
.jumbotron-input input::placeholder {
   color: #ff555a;
}
.jumbotron-input button {
   border: none;
   padding: 20px 50px;
   font-family: Montserrat;
   font-weight: bold;
   font-size: 20px;
   color: #ffffff;
   background: #ff555a;
   border-radius: 10px;
}
/* count section */
.count-section {
   min-height: 135px;
   width: 85%;
   margin: 0 auto;
   background: #ffffff;
   box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
   border-radius: 10px;
}
.count-section .circle {
   background: #f1f1f1;
   box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
   width: 76px;
   height: 75.74px;
   border-radius: 50%;
   position: relative;
}
.count-section .circle .icon {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
}
.item-number {
   font-weight: 500;
   margin-bottom: 5px;
   text-transform: uppercase;
   color: #ef3f24;
   font-size: 16px;
}
.item-heading {
   font-family: "Roboto", sans-serif;
   font-weight: 500;
   font-size: 13px;
   text-transform: uppercase;
   color: #ff555a;
   margin-bottom: 5px;
}
.item-body {
   font-family: "Montserrat", sans-serif;
   font-size: 11px;
   line-height: 13px;
   color: #000000;
}

/* space */
.white-space {
   margin-top: 20px;
   height: 100px;
   background-color: #fff !important;
}
/* our course */
.our-courses {
   padding-top: 1.5rem;
   background-color: white;
}

.our-courses .course-head .head-container {
   width: 80%;
   margin: auto;
   display: flex;
   justify-content: space-between;
}
.our-courses .course-head .head-container .course-heading {
   height: 37px;
   color: #ff555a;
   text-transform: uppercase;
   font-family: "Roboto";
   font-weight: 700;
   font-size: 30px;
   line-height: 35px;
   text-align: center;
   letter-spacing: 0.02em;
   position: relative;
   margin-bottom: 0px;
}
.our-courses .course-head .head-container .course-heading::after {
   border-bottom: 2px solid #c9c9c9;
   border-radius: 2px;
   bottom: -10px;
   content: "";
   height: 3px;
   position: absolute;
   width: 67px;
   left: 50%;
   transform: translateX(-50%);
}
.our-courses .course-head .head-container .course-heading span {
   color: #172d42;
}
.our-courses .course-head .polygon1 {
   transform: rotate(45deg);
   width: 20px;
   height: 20px;
}
.our-courses .course-head .polygon2 {
   width: 20px;
   height: 20px;
}
.course-body {
   background: #172d42;
   margin-top: 19px;
}
.course-body .course-container {
   width: 80%;
   margin-left: auto;
   margin-right: auto;
}

.course-body .card.item {
   margin-right: 0;
   background: #ffffff;
   box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
   border-radius: 10px;
}

.course-body .card.item h5 {
   font-family: "Roboto";
   font-weight: 700;
   font-size: 25px;
   line-height: 29px;
   text-align: center;
   color: #172d42;
}
.course-body .card.item span {
   font-family: "Roboto";
   font-style: normal;
   font-weight: 700;
   font-size: 25px;
   line-height: 29px;
   text-align: center;
   letter-spacing: 0.03em;
   color: #ff555a;
}

.course-body .card .card-text {
   font-family: "Montserrat";
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;
   text-align: center;
   color: #000000;
   margin: 13px 30px 30px 30px;
}

.course-body .course-footer {
   font-family: "Montserrat";
   font-weight: 500;
   font-size: 10px;
   text-align: center;
   width: 100%;
   color: #000000;
   display: flex;
}
.course-body .course-footer .icon {
   width: 20px;
   height: 20px;
}

/* slick slides */
.slick-slide {
   /* height: auto; */
   margin: 20px 10px 10px 10px;
}
/* the parent */
.slick-list {
   margin: 0 -10px;
}

/* our facilities */

.our-facilities {
   background-color: white;
}

.our-facilities .facilities-head .head-container {
   width: 80%;
   margin: auto;
   display: flex;
   justify-content: space-between;
}
.our-facilities .facilities-head .head-container .facilities-heading {
   height: 37px;
   color: #ff555a;
   text-transform: uppercase;
   font-family: "Roboto";
   font-weight: 700;
   font-size: 30px;
   line-height: 35px;
   text-align: center;
   letter-spacing: 0.02em;
   position: relative;
   margin-bottom: 0px;
}
.our-facilities .facilities-head .head-container .facilities-heading::after {
   border-bottom: 2px solid #c9c9c9;
   border-radius: 2px;
   bottom: -10px;
   content: "";
   height: 3px;
   position: absolute;
   width: 67px;
   left: 50%;
   transform: translateX(-50%);
}
.our-facilities .facilities-head .head-container .facilities-heading span {
   color: #172d42;
}
.our-facilities .facilities-head .ellipse {
   width: 20px;
   height: 20px;
}
.our-facilities .facilities-head .polygon2 {
   transform: rotate(45deg);
   width: 20px;
   height: 20px;
}

.facilities-body {
   width: 85%;
   margin-left: auto;
   margin-right: auto;
   margin-top: 25px;
}
.facility-item {
   background: #ffffff;
   box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.25);
   min-height: 250px;
}
.facility-item:hover > .top-section {
   background-color: #172d42;
   border: 1px solid #fff;
   transition: 300ms ease;
}
.facility-item:hover > .body-title {
   color: #fff !important;
}
.facility-item:hover > .body-content {
   color: #fff !important;
}

.facility-item:hover {
   background-color: #172d42;
   color: #fff !important;
   transition: 300ms ease;
}
.facility-item .top-section {
   width: 103px;
   height: 103px;
   position: relative;
   top: -51.5px;
   margin-bottom: -35.5px !important;
   background: #ffffff;
   border: 1px solid #ff555a;
   border-radius: 50%;
   margin: 0px;
}
.facility-item .top-section .facility-img {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   width: 56px;
   height: 56px;
   margin: 0px;
}
.facility-item .body-section .body-title {
   font-family: "Montserrat";
   font-weight: 700;
   font-size: 16px;
   margin-top: 0;
   /* color: #172d42; */
}
.facility-item .body-section .body-content {
   margin: 20px;
   font-family: "Montserrat";
   font-weight: 400;
   font-size: 15px;
   /* color: #000000; */
}

/* about and form section */
.about-form {
   width: 85%;
   margin: auto;
}
.about-section {
   height: 100%;
}
.about-section .about-title {
   font-family: "Roboto";
   font-style: normal;
   font-weight: 700;
   font-size: 30px;
   color: #172d42;
   margin-bottom: 27px;
}
.about-section span {
   color: #ff555a;
}
.about-section .about-content {
   height: auto;
   font-family: "Montserrat";
   font-weight: 400;
   font-size: 16px;
   color: #172d42;
}

.about-section .about-button {
   width: 133px;
   height: 41px;
   color: #ffffff;
   background: #ff555a;
   border-radius: 3px;
   margin-bottom: 24px;
}
.about-section .about-video {
   height: 262px;
   background: linear-gradient(
         to right,
         rgba(1, 10, 20, 0.7),
         rgba(1, 10, 20, 0.7)
      ),
      url(../img/about-bg.png);
   border-radius: 5px;
   position: relative;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.about-section .play-button {
   width: 61px;
   height: 61px;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   cursor: pointer;
}

.form-section {
   background: linear-gradient(
         to right,
         rgba(23, 45, 66, 0.8),
         rgba(23, 45, 66, 0.8)
      ),
      url(../img/form-bg.png);
   border-radius: 6px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 100%;
}
.form-section .form-title {
   font-family: "Montserrat";
   font-weight: 700;
   font-size: 30px;
   color: #ff555a;
   padding-top: 21px;
}

.form-section .input-control {
   width: 80%;
   margin: auto;
   padding: 20px;
   margin: 10px auto;
   background: #ffffff;
   border: 1px solid #666666;
   border-radius: 30px;
}

.form-section .input-control::placeholder {
   font-family: "Montserrat";
   font-weight: 500;
   font-size: 15px;
   color: #666666;
   padding: 0 10px;
}
.form-section .select {
   font-family: "Montserrat";
   font-weight: 500;
   font-size: 15px;
   color: #666666;
   padding: 0 10px;
   padding: 20px;
   cursor: pointer;
}
.form-section .form-button {
   width: 80%;
   padding: 10px;
   margin: 10px auto;
   background: #ff555a;
   border-radius: 5px;
   border: none;
   font-size: 25px;
   color: #ffffff;
   font-family: "Montserrat";
   font-weight: 700;
}

/* our team */
.our-team {
   background: #172d42;
   height: auto;
}

.our-team .team-head .head-container {
   width: 80%;
   margin: auto;
}
.our-team .team-head .head-container .team-heading {
   height: 37px;
   color: #fff;
   text-transform: uppercase;
   font-family: "Roboto";
   font-weight: 700;
   font-size: 25px;
   line-height: 35px;
   text-align: center;
   letter-spacing: 0.02em;
   position: relative;
}
.our-team .team-head .head-container .team-heading::after {
   border-bottom: 2px solid #c9c9c9;
   border-radius: 2px;
   bottom: -40px;
   content: "";
   height: 3px;
   position: absolute;
   width: 67px;
   left: 50%;
   transform: translateX(-50%);
}
.our-team .team-head .head-container .team-heading span {
   color: #ff555a;
}
.team-body {
   width: 85%;
   margin: auto;
   padding-top: 60px;
   padding-bottom: 40px;
}
.team-body .team-item {
   background: #ffffff;
   border: 1px solid #ff555a;
   box-sizing: border-box;
   box-shadow: 0px 8px 16px 5px rgba(114, 114, 114, 0.25);
   border-radius: 10px;
}
.team-body .team-item .team-img {
   height: 110px;
   width: 110px;
   border-radius: 50%;
   margin: 20px;
}
.team-body .profile-name {
   font-family: "Montserrat";
   font-weight: 500;
   font-size: 18px;
   color: #ff555a;
   margin: 10px 0;
}
.team-body .profile-title {
   font-family: "Montserrat";
   font-weight: 400;
   font-size: 10px;
   color: #666666;
   margin-bottom: 8px;
}
.team-body .profile-content {
   font-family: "Montserrat";
   font-weight: 300;
   font-size: 13px;
   line-height: 16px;
   text-align: center;
   margin: 0 10px;
   color: #000000;
}

.team-body .social-icon {
   width: 100%;
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin-top: 30px;
   margin-bottom: 30px;
}
.team-body .social-icon .icon i {
   color: #ff555a;
}

.team-item:hover {
   background-color: #ff555a;
   transition: 300ms ease;
}

.team-item:hover .profile-name,
.team-item:hover .profile-title {
   color: #172d42;
}
.team-item:hover .profile-content,
.team-item:hover .social-icon i {
   color: #fff;
}
/* our review sec */

.our-review .head-container {
   width: 80%;
   margin: auto;
   display: flex;
   justify-content: space-between;
   margin-top: 20px;
}
.our-review .review-heading {
   height: 37px;
   color: #172d42;
   text-transform: uppercase;
   font-family: "Roboto";
   font-weight: 700;
   font-size: 30px;
   line-height: 35px;
   text-align: center;
   letter-spacing: 0.02em;
   position: relative;
   margin-bottom: 0px;
}
.head-container .review-heading::after {
   border-bottom: 2px solid #c9c9c9;
   border-radius: 2px;
   bottom: -10px;
   content: "";
   height: 3px;
   position: absolute;
   width: 67px;
   left: 50%;
   transform: translateX(-50%);
}
.head-container .review-heading span {
   color: #ff555a;
}
.review-head .ellipse {
   width: 20px;
   height: 20px;
}
.review-head .polygon2 {
   transform: rotate(45deg);
   width: 20px;
   height: 20px;
}

.review-body {
   width: 80%;
   margin: auto;
   padding-top: 60px;
   padding-bottom: 40px;
}
.review-body .review-item {
   background: #ffffff;
   box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
}
.review-body .review-item .review-img {
   height: 110px;
   width: 110px;
   border-radius: 50%;
   margin: 20px;
}
.top-section {
   position: relative;
}

.top-section i {
   display: inline-block;
   border-radius: 60px;
   box-shadow: 0 0 2px #ff555a, 0 0 2px #ff555a, 0 0 2px #ff555a,
      0 0 2px #ff555a;
   padding: 0.5em 0.6em;
   color: #ff555a;
   position: absolute;
   top: 17%;
   left: 4%;
}
.review-body .profile-name {
   font-family: "Montserrat";
   font-weight: 500;
   font-size: 18px;
   color: #ff555a;
   margin: 10px 0;
}
.review-body .profile-title {
   font-family: "Montserrat";
   font-weight: 400;
   font-size: 10px;
   line-height: 7px;
   text-align: center;

   color: #000000;
   margin-bottom: 8px;
}

.review-body .profile-stars .star-icon {
   width: 13px;
   height: 13px;
}
.review-body .profile-content {
   font-family: "Montserrat";
   font-weight: 300;
   font-size: 13px;
   line-height: 16px;
   text-align: center;
   padding-bottom: 20px;
   margin: 13px 36px;
   color: #000000;
}
.our-review .slick-prev:before,
.our-review .slick-next:before {
   color: #ff555a !important;
}

@media (max-width: 990px) {
   .nav-buttons {
      margin-left: 0;
   }
}
@media (max-width: 800px) {
   .jumbotron-search {
      flex-direction: column;
   }
   .jumbotron-search select {
      border-radius: 15px;
      /* padding: 25px 150px; */
      margin-bottom: 8px;
      background-position-x: 600px;
   }
   .jumbotron-input {
      border-radius: 10px;
   }
   .jumbotron-search input {
      border-radius: 10px;
      padding-right: 120px;
   }
   .jumbotron-search button {
      padding: 22px 103px;
   }
}
@media (max-width: 763px) {
   .jumbotron-search {
      flex-grow: 1;
   }
   .jumbotron-search select {
      margin-bottom: 8px;
   }
   .jumbotron-input {
      flex-direction: column;
      justify-content: space-between;
      background: none;
      border: none;
   }
   .jumbotron-input img {
      display: none;
   }
   .jumbotron-input input {
      margin-bottom: 8px;
      background: #ffffff;
   }
}
@media (max-width: 414px) {
   .jumbotron-search select {
      background-position-x: 220px;
   }
}
@media (min-width: 1200px) {
   .count-section {
      position: absolute;
      left: 50%;
      right: 50%;
      transform: translate(-50%, -50%);
   }
   .our-courses {
      margin-top: 100px;
   }
}
@media (max-width: 1199px) {
   .count-section {
      margin-top: 15px;
      margin-bottom: 15px;

      padding-top: 10px;
      padding-bottom: 10px;
   }
}
@media (max-width: 640px) {
   .count-section .content {
      padding: 20px;
   }
}
@media (max-width: 720px) {
   .head-container .review-heading::after {
      bottom: -40px;
   }
}

@media (max-width: 490px) {
   .head-container .review-heading::after {
      bottom: -75px;
   }
}
